language: php

php:
  - 5.5
  - 5.6
  - 7

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest --prefer-stable"
    - PREFER_LOWEST=""

before_script:
  - composer update $PREFER_LOWEST

script:
  - mkdir -p build/logs
  - composer test

  # phpcs only on latest PHP
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]]; then composer phpcs; fi

after_script:
  - php vendor/bin/coveralls -v
